body{
    background-image: url(../imagenes/summer1.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
.panel{
    background-color: #0e7fe9e7;
    border: 2px solid #4741d7;
    color:white;
    width: 1137px;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    object-position:center ;
    text-align: center;
}
h3{
    background-color:#0059ce;
    border-radius: 15px;
    border: 2px solid #0d06e4;
    width: 250px;
    height: 35px;
}
.panel-header{
    background-color: rgba(30, 30, 114, 0.829);
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
input{
    background-color:#0059ce;
    border: 2px solid #0d06e4;
    color:white;
    border-radius: 15px;
    text-align: center;
    height: 35px;
    width: 200px;
    outline: none;
    position: relative;
}
h1{
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	background-clip: text;
	-webkit-background-clip: text;
	display: inline-block;
}
input::placeholder{
    font-style: italic;
    color: white;
}
input[type=submit]{
    font-size: 16px;
}
input[type=submit]:hover{
    background-color: rgb(47, 113, 255);
}
input[type=date]:hover{
    border: 2px solid rgb(1, 1, 124) ;
}
input[type=text]:hover{
    border: 2px solid rgb(1, 1, 124) ;
}
